# Constrained Regression

In [1]:
from scipy.optimize import lsq_linear
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print('done')

done

In [2]:
# Read in data
df = pd.read_csv('housing.csv')
print(df.columns.values)
df.head()

['longitude' 'latitude' 'housing_median_age' 'total_rooms'
 'total_bedrooms' 'population' 'households' 'median_income'
 'median_house_value' 'ocean_proximity']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Convert independent variables to a matrix

In [5]:
# Convert independent variables to a matrix
A = df[['total_rooms', 'housing_median_age']].to_numpy()
A

array([[ 880.,   41.],
       [7099.,   21.],
       [1467.,   52.],
       ...,
       [2254.,   17.],
       [1860.,   18.],
       [2785.,   16.]])

In [6]:
# Add an array of ones to act as bias coefficient
ones = np.ones(A.shape[0])
# Combine array of ones and indepedent variables
A = np.concatenate(( ones[:,np.newaxis],A),axis=1)
# Create matrix for target variable
b = df['median_house_value'].to_numpy()
A

array([[1.000e+00, 8.800e+02, 4.100e+01],
       [1.000e+00, 7.099e+03, 2.100e+01],
       [1.000e+00, 1.467e+03, 5.200e+01],
       ...,
       [1.000e+00, 2.254e+03, 1.700e+01],
       [1.000e+00, 1.860e+03, 1.800e+01],
       [1.000e+00, 2.785e+03, 1.600e+01]])

In [19]:
# Make sure all over the above are set as float variables
# Set_ bounds
fixed_lb = 0.0
var1_lb = 0.0
var2_lb =0.0
fixed_ub = 10000000000000.0
var1_ub = 10000000000000.0
var2_ub = 10000000000000.0
# Put bounds into arrays
lb = np.array([fixed_lb,var1_lb,var2_lb])
ub = np.array([fixed_ub, var1_ub,var2_ub])

In [26]:
# Run optimization
results = lsq_linear(A,b,bounds=(lb,ub),lsmr_tol='auto')

results

# Extract coefficients
fixed_coef = results['x'][0]
var1_coef = results['x'][1]
var2_coef = results['x'][2]

print(fixed_coef)
print(var1_coef)
print(var2_coef)


# initialize list of lists 
data = [[fixed_coef, var1_coef, var2_coef]]
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Fixed Coefficient', 'Variable 1 Coef', 'Variable 2 Coef']) 
  
# print dataframe. 
df.head()


# # Write DataFrame to CSV
# # ceof_df.to_csv("lsq_results.csv")

132691.09500892987
10.48236785728691
1624.878428012609

   Fixed Coefficient  Variable 1 Coef  Variable 2 Coef
0      132691.095009        10.482368      1624.878428